
body{
   text-align: center;
   font-family: 'Playfair Display', serif;
/* font-family: 'Playfair Display SC', serif; */
}

header{
    position: relative;
    padding: 5%;
    margin-left: 20px;
}



h1{
    margin: 0;
   font-size: 2.5rem;
   
   display: inline-block;
   position: relative;
   z-index: 1;
   color: #dc3545;
   font-weight: 900;
   margin-bottom: 2%;
  
   
}

.cnm{
    color: #1d72b7;
}


.row{
    margin: 0;
}

.opcion{
    margin: 0;
    padding: 0;
    
    height: 200px;
    margin-bottom: 10px;
    position: relative;
      
}

.opcion-img{
    
    height: 98%;
    width: 98%;
    object-fit: cover;
    overflow: hidden;
    opacity: 70%;

}

.opcion-img:hover{
    opacity: 100%;
    -webkit-transform:scale(1.3);transform:scale(1.3);
}

.opcion {overflow:hidden;}



.opcion-title{
  position: absolute;  
  right: 0;
  bottom: 0;
  margin-right: 1rem;
  margin-bottom: 1rem;
 
}

.table{
    text-align: left;
}

td{
    color: white;
}

th{
    font-weight: 900;
}

.large {
    font-size: 70px;
    margin: 20px;
}

.whatsApp{
    color: green;
   
    position: fixed;
    top: 18%;
    background-color:bisque;
    z-index: 2;
    right: 0.2rem;
   
}

#footer{
    
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: #1d72b7;
  padding-top: 2rem;
  margin-bottom: 5px;
  color: white;
  font-weight:bold ;
 
}

